{% extends "main.html" %}

{% block title %}Project Requests{% endblock %}

{% block content %}
<div class="container">
<div><h2 style="font-weight: bold; font-size: 22px;">Project Requests</h2></div>
<br>
<table class="table table-striped table-bordered">
        <thead>
          <tr>
            <th>Project Name</th>
            <th>Requested By</th>
            <th>Project Description</th>
            <th>Status</th>
          </tr>
        </thead>
        <tbody>
            {% for request in requests %}
          <tr>
            <td><a href="/request/{{request.id}}">{{request.project_name}}</a></td>
            <td>{{request.username}}</td>
            <td>{{request.project_desc}}</td>
            <td>{{request.status}}</td>
          </tr>
          {% endfor %}
        </tbody>
</table>

</div>
{% endblock %}